.ListItem {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10em;
    width: 45vw;
    height: 31em;
    max-height: 50%;
    background-color: #66dbffee;
    padding: 2em;
}

.ListItem img {
    width: 30em;
    height: auto;
    margin: .5em 0 .5em 0;
}

.ListItem p {
    margin: 0 0 1em 0;
}
