.ListItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10em;
    width: 45vw;
    height: 50%;
    max-height: 50%;
    background-color: #66dbffee;
    padding: 2em;
}

.ListItem img {
    width: 30em;
    height: auto;
}