.ProjectElements {
    display: flex;
    align-items: center;
    list-style: none;
    width: 70%;
    max-height: 10%;
    overflow-x: auto;
    margin: 6em 0 0 4em;
}

.Ulist {
    width: 50%;
    height: 50%;
}