*{
  margin: 0;
}

.Header {
  background-color: #36454f;
  width: 100%;
  height: 100px;
}

.Name {
  border: 1px red solid;
  height: 40px;
  max-width: 15vw;
}

.Nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 0px;
}

.Role{

}