.AboutMe{
    margin-top: 5em;
    margin-left: 4em;
    margin: 5em 0 0 4em;
}

.AboutMeContents {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5em;
    height: 20vh;
}

.BioContents {
    width: 15vw;
    margin: 1em 5em 0em -10em;
}

.BioContents p{
    line-height: 3.5vh;
    font-size: 1.3em;
    width: 25em;
    background-color: #66dbffee;
    padding: 1em;
}

.ContactMeContents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em 5em 0em -10em;
    background-color: #66dbffee;
    width: auto;
    padding: 1em;

}